<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ub.passwordmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The field <android:noHistory="true"> notify the system
             that he can't keep this activity in the activity stack
        -->
        <activity
            android:name=".SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SignIn"
            android:label="@string/sign_in_part1"
            android:noHistory="true"></activity>
        <activity android:name=".activities.LogIn"></activity>
    </application>

</manifest>